.container2 {
	border: 1px solid grey;
	height: 1200px;
	margin: 10px 180px 10px 180px;
	padding: 10px;
	text-align: center;
}
.FORMST{
	max-width: 500px;
	padding: 10px 20px;
	background: #f4f7f8;
	margin: 10px auto;
	padding: 20px;
	background: #f4f7f8;
	border-radius: 8px;
	/* font-family: Georgia, "Times New Roman", Times, serif; */
}
.FORMST fieldset{
	border: none;
}
.FORMST legend {
	font-size: 1.4em;
	margin-bottom: 10px;
}
.FORMST label {
	display: block;
	margin-bottom: 8px;
}
.FORMST input[type="text"],
.FORMST input[type="password"],
.FORMST input[type="date"],
.FORMST input[type="datetime"],
.FORMST input[type="email"],
.FORMST input[type="number"],
.FORMST input[type="search"],
.FORMST input[type="time"],
.FORMST input[type="url"],
.FORMST textarea,
.FORMST select {
	/* font-family: Georgia, "Times New Roman", Times, serif; */
	background: rgba(255,255,255,.1);
	border: none;
	border-radius: 4px;
	font-size: 15px;
	margin: 0;
	outline: 0;
	padding: 10px;
	width: 100%;
	box-sizing: border-box; 
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box; 
	background-color: #e8eeef;
	color:#8a97a0;
	-webkit-box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
	box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
	margin-bottom: 30px;
}
.FORMST input[type="text"]:focus,
.FORMST input[type="date"]:focus,
.FORMST input[type="datetime"]:focus,
.FORMST input[type="email"]:focus,
.FORMST input[type="number"]:focus,
.FORMST input[type="search"]:focus,
.FORMST input[type="time"]:focus,
.FORMST input[type="url"]:focus,
/* .FORMST input[type="password"]:focus, */
.FORMST textarea:focus,
.FORMST select:focus{
	background: #d2d9dd;
}
.FORMST select{
	-webkit-appearance: menulist-button;
	height:35px;
}
.FORMST .number {
	background: #1b3e7c;
	color: #fff;
	height: 30px;
	width: 30px;
	display: inline-block;
	font-size: 0.8em;
	margin-right: 4px;
	line-height: 30px;
	text-align: center;
	text-shadow: 0 1px 0 rgba(255,255,255,0.2);
	border-radius: 15px 15px 15px 0px;
}

.FORMST input[type="submit"],
.FORMST input[type="button"]
{
	position: relative;
	display: block;
	padding: 19px 39px 18px 39px;
	color: #FFF;
	margin: 0 auto;
	background: #214d97;
	font-size: 18px;
	text-align: center;
	font-style: normal;
	width: 100%;
	border: 1px solid #1b3e7c;
	border-width: 1px 1px 3px;
	margin-bottom: 10px;
}
.FORMST input[type="submit"]:hover,
.FORMST input[type="button"]:hover
{
	background: #142d58;
}